.bgimg{
  background-image: url("../image/ls/Ottanthullal_1748.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  font-family: "Karla", sans-serif;
  background-color: #fff;
  min-height: 100vh; }

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 10px;
}
  .brand-wrapper .logo {
    height: 10%;
  }

.login-wrapper {
  width: 100%;
  max-width: 100%;
  padding-bottom: 24px; }

  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 8px; }
  .login-wrapper .form-control {
    border: none;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom 0.5s ease-out;
    border-radius: 0;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal; }
    .login-wrapper .form-control::placeholder {
      color: #b0adad; }
  .login-wrapper .login-btn {
    padding: 10px 15px;
    background-color: #fdbb28;
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px; }
    .login-wrapper .login-btn:hover {
      border: 1px solid #fdbb28;
      background-color: #fff;
      color: #fdbb28; }
  .login-wrapper a.forgot-password-link {
    color: rgb(210, 253, 255);
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 25px; }
    @media (max-width: 575px) {
      .login-wrapper a.forgot-password-link {
        margin-bottom: 16px; } }

  .login-wrapper-footer-text{
    color: rgb(210, 253, 255);
  }

.login-title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 25px; }

.login-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left; }

.contran{
  display: flex;
  margin: 0;
  justify-content: center;
}

.tranif{
  background-color: violet;
}

.logincon{
  border-radius: 20px;
  background-color: #383838a9;
  padding: 2% 5%;
}

.formcls input{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(185, 185, 185, 0.932);
}

.formcls input:focus{
  background-color: rgba(24, 24, 24, 0.363);
  outline-style: none;
  color: white;
  box-shadow: none;
  border-color: transparent;
  border-radius: 5px;
}

.namecls input{
  width: 45%;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: rgb(0, 255, 0);
}

.valid:before {
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  content: "✖";
}